@model Commute.Models.RouteCompare
@using Commute.Properties

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Mail.cshtml";
}

<h2>@Resources.Mail_contact_title</h2>
<p>@Resources.Hello @Model.User2,</p>
<p>@Resources.My_name @Model.User1</p>
<p>@Resources.Mail_contact_msg</p>
<p>@Resources.Mail_contact_reply</p>

<p>@Resources.Mail_contact_map:</p>
@{
    string pathColor1;
    string pathColor2;
    if ( @Model.IsOffer1 ) { pathColor1 = "0xf12b2b"; }
    else { pathColor1 = "0x40b723"; }
    if (@Model.IsOffer2) { pathColor2 = "0xf12b2b"; }
    else { pathColor2 = "0x40b723"; }
<a href="http://commute.apphb.com/Route/View/@Model.RouteId1?routeId=@Model.RouteId2" title="@Resources.Mail_contact_map_title"><img src="http://maps.googleapis.com/maps/api/staticmap?&size=500x500&sensor=false&markers=color:@pathColor1|label:A|@Model.StartLatitude1 ,@Model.StartLongitude1&markers=color:@pathColor1|label:B|@Model.EndLatitude1,@Model.EndLongitude1&path=color:@pathColor1|@Model.StartLatitude1,@Model.StartLongitude1|@Model.EndLatitude1,@Model.EndLongitude1&markers=color:@pathColor2|label:A|@Model.StartLatitude2 ,@Model.StartLongitude2&markers=color:@pathColor2|label:B|@Model.EndLatitude2,@Model.EndLongitude2&path=color:@pathColor2|@Model.StartLatitude2,@Model.StartLongitude2|@Model.EndLatitude2,@Model.EndLongitude2"  class="map"/></a>
}
