@model Commute.Models.RouteCompare

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Mail.cshtml";
}

<p>The following mail has been sent to @Model.UserMail2:</p>
<h2>We have matching routes</h2>
<p>Hello @Model.User2,</p>
<p>My name is @Model.User1</p>
<p>I have found that our commute routes are quite similar, can we get in touch to see if we can commute togther ?</p>
<p>Just reply to this mail to contact me (you will see my mail address).</p>

<p>The map below shows our two routes:</p>
@{
    string pathColor1;
    string pathColor2;
    if ( @Model.IsOffer1 ) { pathColor1 = "0xf12b2b"; }
    else { pathColor1 = "0x40b723"; }
    if (@Model.IsOffer2) { pathColor2 = "0xf12b2b"; }
    else { pathColor2 = "0x40b723"; }
<a href="/Route/View/1" title="This map is just a picture. Click the map to view it as a Goole map in Commute (This does not work currently)"><img src="http://maps.googleapis.com/maps/api/staticmap?&size=500x500&sensor=false&markers=color:@pathColor1|label:A|@Model.StartLatitude1 ,@Model.StartLongitude1&markers=color:@pathColor1|label:B|@Model.EndLatitude1,@Model.EndLongitude1&path=color:@pathColor1|@Model.StartLatitude1,@Model.StartLongitude1|@Model.EndLatitude1,@Model.EndLongitude1&markers=color:@pathColor2|label:A|@Model.StartLatitude2 ,@Model.StartLongitude2&markers=color:@pathColor2|label:B|@Model.EndLatitude2,@Model.EndLongitude2&path=color:@pathColor2|@Model.StartLatitude2,@Model.StartLongitude2|@Model.EndLatitude2,@Model.EndLongitude2"  class="map"/></a>
}
