@model Commute.Models.User
@using Commute.Properties
@{
    Layout = "~/Views/Shared/_Mail.cshtml";
}
<h1>@Resources.Password reset</h1>
@Resources.Hello <b>@(Model.Name ?? Model.Account)</b>,

<p>
@Resources.Mail_password_reset @Model.Password
</p>

<p>
@Resources.Mail_password_first <a href="http://commute.apphb.com/User/Password" target="_blank">@Resources.Mail_password_login</a> @Resources.Mail_password_to
</p>

<p>
@Resources.Mail_password_use <a href="http://commute.apphb.com/User/Password" target="_blank">@Resources.Password_min</a> @Resources.Mail_password_update
</p>

<p>
@Resources.Mail_commute_end_greeting
</p>
