@model Commute.Models.User
@using Commute.Properties
@{
    Layout = "~/Views/Shared/_Mail.cshtml";
}
<h1>@Resources.Mail_welcome_welcome</h1>
@Resources.Your_account <b>@Model.Account</b> @Html.Raw( @Resources.Mail_welcome_created )

@Resources.Mail_welcome_start <a href="http://commute.apphb.com/Help/Help?helpFile=Quick start.html" target="_blank">@Resources.Quick_start_guide</a>.<br /><br />
@Resources.Mail_welcome_forum <a href="http://commute.freeforums.org/" target="_blank">@Resources.Forum</a>.<br /><br />
@Resources.Mail_welcome_safe_commute
