<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Share your car to commute between home and work with others or find a car in your area to commute to work. Going to work can be fun: Save fuel, save money and make new friends to share a happy time when commuting from home to work and work to home. This is the green way to go to work" />
    <link rel="shortcut icon" type="image/png" href="/Content/Images/Blue car 32px.png">
    <link rel="apple-touch-icon" href="/Content/Images/Blue car 32px.png"/> @*Shortcut for web app link (iPhone & android)*@

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css") @* site style *@
    @Styles.Render("~/Content/themes/base/css")  @* jQuey UI base style *@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Menu")
    @Html.Partial("_LoginMenu")
    <div class="main-body">
    <h1>@ViewBag.Title</h1>
    @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery") @* jQuery 1.8.2 *@
    @Scripts.Render("~/bundles/jqueryui") @* jQuery 1.9.1 *@
    @Scripts.Render("~/bundles/jqueryval") @* jQuery validation *@
    @RenderSection("scripts", required: false) @* scripts included in the view *@
</body>
</html>
