<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="Commute" content="Share your car to commute between home and work with others or find a car in your area to commute to work. Going to work can be fun: Save fuel, save money and make new friends to share a happy time when commuting from home to work and work to home. This is the green way to go to work" />
    <link rel="icon" type="image/png" href="/Content/Images/Blue car 32px.png">
    <link rel="shortcut icon" type="image/png" href="/Content/Images/Blue car 32px.png">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css") @* site style *@
    @Styles.Render("~/Content/themes/base/css")  @* jQuey UI base style *@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top_stripe"></div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery") @* jQuey 1.7.1 *@
    @Scripts.Render("~/bundles/jqueryui") @* jQuey 1.8.20 *@
    @Scripts.Render("~/bundles/jqueryval") @* jQuey validation *@
    @RenderSection("scripts", required: false) @* scripts included in the view *@
</body>
</html>
