@using Commute.Properties

    <div class="login-menu">
        <div class="login-data">
        @if ( @ViewBag.userName != null ) { <span>@Resources.Welcome @ViewBag.userName ID=@ViewBag.userId</span> }
        @if ( @ViewBag.userName == null ) {
            <div>@Html.ActionLink("Login", "Login", "User")
            @Html.ActionLink("Register", "Register", "User")</div>
        }
        else {
            <div>@Html.ActionLink("Logout", "Logout", "User")
            @Html.ActionLink("Account", "Edit", "User", new { id = @ViewBag.userId }, null)</div>
        }
        </div>
        @if (@ViewBag.userName != null )
        {
            <img class="small-user-picture" src="@Url.Content(Resources.Amazon_picture_HTTP + @String.Format("{0:00000000}", @ViewBag.userId) + ".jpg?" + DateTime.Now.Millisecond)" />
        }
    </div>

