@using Commute.Properties
<!DOCTYPE html> 
<html> 
<head> 
	<title>@ViewBag.title</title> 

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="@ViewBag.Metadesc" />
    <link rel="shortcut icon" type="image/png" href="/Content/Images/Blue car 32px.png">
    <link rel="apple-touch-icon" href="/Content/Images/Blue car 64px.png"/> @*Shortcut for web app link (iPhone & android)*@

@*    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>*@
    <link rel="stylesheet" href="/Content/UImobile/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="/Content/Commute mobile.css" />
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/jquery.mobile-1.2.0.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div <div class="ui-bar ui-bar-b">
        @*<div class="ui-grid-b">*@
            @*<div class="ui-block-a">*@<a href="#popupNested" data-rel="popup" data-role="button" data-mini="true" data-inline="true" data-icon="grid" data-iconpos="notext" title="@Resources.Menu"></a>@*</div>*@
		    @*<div class="ui-block-b">*@<h5>@ViewBag.title</h5>@*</div>*@
            @*<div class="ui-block-c">*@ @if (@ViewBag.userId > 0 ) { 
                <a href="/User/Logout/" data-role="button" data-ajax="false" data-mini="true" data-inline="true"  data-icon="alert" data-iconpos="notext" title="@Resources.Logout"></a>
                <span>@ViewBag.userId - @ViewBag.userName</span>
            } 
                else { 
                <a href="/User/Login/" data-role="button" data-ajax="false" data-mini="true" data-inline="true" data-icon="home" data-iconpos="notext" title="@Resources.Login"></a>
                <span>@Resources.Guest</span>
            }
            @*</div>*@
        @*</div>*@
	</div>

    @*Menu to be defined later*@
    		<div data-role="popup" id="popupNested" data-theme="none">
			<div data-role="collapsible-set" data-theme="b" data-content-theme="c" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" style="margin:0; width:250px;">
				<div data-role="collapsible" data-inset="false">
					<h2>@Resources.Route</h2>
					<ul data-role="listview">
						<li><a href="/Route/SearchAll"  data-ajax="false">@Resources.Search</a></li>
						<li><a href="/Route/CreateUpdate"  data-ajax="false">@Resources.Route_new</a></li>
						<li><a href="/Route/List"  data-ajax="false">@Resources.Route_list</a></li>
					</ul>
				</div><!-- /collapsible -->
				<div data-role="collapsible" data-inset="false">
					<h2>@Resources.User</h2>
					<ul data-role="listview">
						<li><a href="/User/Edit"  data-ajax="false">@Resources.User_account</a></li>
						<li><a href="/User/SetLocation"  data-ajax="false">@Resources.User_set_location</a></li>
						<li><a href="/User/Register"  data-ajax="false">@Resources.Register</a></li>
						<li><a href="/User/Login"  data-ajax="false">@Resources.Login</a></li>
						<li><a href="/User/Logout"  data-ajax="false">@Resources.Logout</a></li>
					</ul>
				</div><!-- /collapsible -->
                @*<div data-role="listview" data-inset="false">*@
                    <ul data-role="listview">
                    <li ><a href="/Home/Welcome"  data-ajax="false">@Resources.Welcome</a></li>
                    <li ><a href="/Help/Help?helpFile=Commute documentation.html"  data-ajax="false">@Resources.Help</a></li>
                    <li ><a href="/Help/Debug"  data-ajax="false">Debug</a></li>
                    <li ><a href="http://commute.freeforums.org/" target="_blank" data-ajax="false">@Resources.Forum</a></li>
                    </ul>
                @*</div><!-- /collapsible -->*@
			</div><!-- /collapsible set -->
		</div><!-- /popup -->

	<div data-role="content">
        @RenderBody()
	</div><!-- /content -->

</div><!-- /page -->
@RenderSection("scripts", required: false)
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC0KjUdM6DpNQAggngGkuKLFvoHw-lJ0H4&sensor=false"></script>

@*<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100550157); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100550157ns.gif" /></p></noscript>*@
</body>
</html>