@model Commute.Models.User
@using Commute.Properties
@using Cloudinary.Mvc;
@using Cloudinary;

@{ 
    Layout = "~/Views/Shared/_Mobile.cshtml";
    ViewBag.Title = @Resources.Update_account;
}

@using (Html.BeginForm( "Edit", "User", FormMethod.Post, new Dictionary<string, object>
    {
        { "data-ajax", "false" }, 
    } )) {
@Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Id)</td>
            <td>@*<div class="non-editable-data">@String.Format("{0:00000000}",@Model.Id)</div>*@
                @Html.TextBoxFor(model => model.Id, new Dictionary<string, object>
    {
        { "disabled", "true" },
        { "class", "account non-editable-data" }, 
    })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Account)</td>
            <td>@Html.TextBoxFor(model => model.Account, new Dictionary<string, object>
    {
        { "disabled", "true" },
        { "class", "account non-editable-data" }, 
    })
            </td>
            @Html.Hidden("Id", @Model.Id) @*Account Id need to be posted to identify user*@
            @Html.Hidden("Account", @Model.Account) @*Account Account need to be posted because mandatory*@
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.EmailAddress)</td>
            <td>
                @Html.TextBoxFor(model => model.EmailAddress, new { @class = "email" } )
                @Html.ValidationMessageFor(model => model.EmailAddress)
                @Html.Hidden("Password", @Model.Password) @*Password is mandatory so we include it here*@
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" data-inline="true"  value="@Resources.Update_data"/></td>
        </tr>
    </table>
}

                @*<img id="userImage" class="user-image" src="@Url.Content(Resources.Amazon_picture_HTTP + @String.Format("{0:00000000}", @Model.Id) + ".jpg?" + DateTime.Now.Millisecond)"/>*@
                @*<img id="userImage" class="user-image" src="@(@Url.CloudinaryImage(@String.Format("{0:00000000}", @Model.Id), new Transformation(100, 100)) + "?" + DateTime.Now.Millisecond)"/>*@
                @*<img id="userImage" class="user-image" src="@(@Url.CloudinaryImage(@String.Format("{0:00000000}", @Model.Id), new Transformation(100, 100) { Format = "png", Crop = CropMode.Thumb, Gravity = Gravity.Face, Radius = 10 }) + "?" + DateTime.Now.Millisecond)"/>*@
                <img id="userImage" class="user-image" src="@Url.CloudinaryImage("v" + @Model.PictureVersion + "/" + @String.Format("{0:00000000}", @Model.Id), new Transformation(100, 100) { Format = "png", Crop = CropMode.Thumb, Gravity = Gravity.Face, Radius = 8 })"/>
                @Html.Partial("UploadFile", new Commute.Models.Entity { Id = @Model.Id } )


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
