@model Commute.Models.User
@using Commute.Properties

@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
    ViewBag.Title = @Resources.Login;
}

@using (Html.BeginForm((string)null, (string)null, FormMethod.Post, new Dictionary<string, object>
    {
        { "data-ajax", "false" }, 
    }))
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Account)</td>
            <td>
                @Html.TextBoxFor(model => model.Account, new { id = "iptAccount" })
                @Html.ValidationMessageFor(model => model.Account)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password)</td>
            <td>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="@Resources.Login"  data-ajax="false" data-inline="true"/></td>
        </tr>
    </table>
}

@if (!ViewData.ModelState.IsValid)
{
    <div>
        <p></p>
        <a href="/User/ResetPassword" data-role="button" data-ajax="false" data-inline="true" data-mini="true">@Resources.Password_reset</a>
    </div>
}    

@section Scripts {
     @Scripts.Render("~/bundles/jqueryval")
<script>
    jQuery(document).ready(function () {
        $('#iptAccount').focus();
    });
</script>
}