@model Commute.Models.UserPassword
@using Commute.Properties

@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}

@using (Html.BeginForm("Password", "User", FormMethod.Post, new Dictionary<string, object>
    {
        { "data-ajax", "false" }, 
    }))
{
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
            @Html.TextBoxFor(model => model.Account, new Dictionary<string, object>
            {
                { "disabled", "true" },
                { "class", "account non-editable-data" }, 
            })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmedPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmedPassword)
            @Html.ValidationMessageFor(model => model.ConfirmedPassword)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <td><input type="submit" data-inline="true"  value="@Resources.Change_password"/></td>
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
