@model Commute.Models.RegisterUser
@using Commute.Properties

@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
    ViewBag.Title = @Resources.Register;
}

@using (Html.BeginForm((string)null, (string)null, FormMethod.Post, new Dictionary<string, object>
    {
        { "data-ajax", "false" }, 
    }))
    {
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Account)</td>
            <td>
                @Html.TextBoxFor(model => model.Account, new { @class = "account" })
                @Html.ValidationMessageFor(model => model.Account)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password)</td>
            <td>
                @Html.TextBoxFor(model => model.Password, new { @class = "password" })
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ConfirmedPassword)</td>
            <td>
                @Html.TextBoxFor(model => model.ConfirmedPassword, new { @class = "password" })
                @Html.ValidationMessageFor(model => model.ConfirmedPassword)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.EmailAddress)</td>
            <td>
                @Html.TextBoxFor(model => model.EmailAddress, new { @class = "email" } )
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </td>
        </tr>
    </table>

        <p>
            <input type="submit" value="@Resources.Create_account"  data-inline="true" data-mini="true" />
        </p>
}

@section Scripts {

<script>
    jQuery(document).ready(function () {
        $('#Account').focus();
    });
</script>

@Scripts.Render("~/bundles/jqueryval")
}