@model Commute.Models.User
@using Commute.Properties

@{
    ViewBag.Title = @Resources.Password_reset;
    Layout = "~/Views/Shared/_Mobile.cshtml";
}

@using (Html.BeginForm((string)null, (string)null, FormMethod.Post, new Dictionary<string, object>
    {
        //{ "data-ajax", "false" }, 
        { "id", "frmResetPassword" }, 
    }))
{
    @Html.ValidationSummary(true)
<div class="float size100">
<div class="float size30">
    @Html.LabelFor(model => model.Account)
</div>
<div class="float size70">
    @Html.TextBoxFor(model => model.Account, new { id = "iptAccount", @class = "account" })
    @Html.ValidationMessageFor(model => model.Account)

</div>
</div>
<div class="float size100">        
<div class="float size30">    
    @Html.LabelFor(model => model.EmailAddress)
</div>
<div class="float size70">    
    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "email" } )
    @Html.ValidationMessageFor(model => model.EmailAddress)

</div>
</div>    
<div class="float size100">        
    <p>
        <input type="submit" value="@Resources.Password_reset"  data-ajax="false" data-inline="true"/>
    </p> 
</div>
}

<div class="message inline">
    <div>@Resources.Msg_sending_mail</div>
    <p>
    <div><img src="/Content/UImobile/images/ajax-loader.gif" /></div>
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    jQuery(document).ready(function () {
        $('#iptAccount').focus();
        //Tell user we are sending mail
        //$(":header").css({ overflow: 'visible' });
        //$(".ui-loader").html("<div>Sending mail</div>");
        $('#frmResetPassword').submit(function () {
            //$(".ui-loader").html("<div>Sending mail</div>");
            //$(".ui-loader").css("display", "block");
            if ($(this).valid() )
                $('.message').css("visibility", "visible");

@*            $.mobile.loading('show', {
                text: '@Resources.Msg_sending_mail',
                textVisible: true,
                theme: 'b',
                html: ""
            });*@
        });
    });
</script>}
