@model Commute.Models.Entity
@using Commute.Properties

    <form action="/User/UploadFile" method="post" enctype="multipart/form-data"  data-ajax="false">
        <input class="input-file-upload" type="file" name="file" id="file" />
        @Html.Hidden("Id", @Model.Id)<br>
        <input type="submit" value="@Resources.Update_picture" data-inline="true"/>
    </form>
Posted file: @Session["postFile"]<br>
Posted file length: @Session["postFileLength"]<br>
Public file: @Session["publicFile"]


    //var webresizer_apikey = '95594110d3bf7dc22abe5bcabc14279a';
    ////var webresizer_image_url = 'http://trovalamore.altervista.org/var/public/images/users/unknown-user.gif';
    //var webresizer_image_url = 'https://s3-eu-west-1.amazonaws.com/commute/Pictures/Unknown 500x500.jpg';
    //var webresizer_default_image_size  = '200';
    ////var webresizer_allow_downloads  = 'no';
    ////var webresizer_allow_uploads  = 'no';
    ////var webresizer_uplink_text  = 'Save image';
    //var webresizer_single_line  = 'yes';
    ////var webresizer_uplink_url = 'http://yourdomain/saveimage.asp';
    //var webresizer_is_sample_image = 'no';

