@model Commute.Models.Route

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Route</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSeek)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSeek)
            @Html.ValidationMessageFor(model => model.IsSeek)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartLatitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartLatitude)
            @Html.ValidationMessageFor(model => model.StartLatitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartLongitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartLongitude)
            @Html.ValidationMessageFor(model => model.StartLongitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndLatitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndLatitude)
            @Html.ValidationMessageFor(model => model.EndLatitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndLongitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndLongitude)
            @Html.ValidationMessageFor(model => model.EndLongitude)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
