@model Commute.Models.RouteView
@using Commute.Properties

@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}


@{ if (@Model.Id == 0) { ViewBag.Title = @Resources.Route_new; } else { ViewBag.Title = @Resources.Route_create_update + " no " + @Model.Id; } }

<input id="hfId" type="hidden" value="@Model.Id"/>
<input id="hfUserId" type="hidden" value="@Model.UserId"/>

@*@using (Html.BeginForm("CreateUpdate", "Route", FormMethod.Post, new Dictionary<string, object>
    {
        { "data-ajax", "false" }, 
    }))
{
    @Html.ValidationSummary(true)
*@
@*    <div style="position:absolute; left: 2px; top: 52px; right: 0px;">
    <div data-role="fieldcontain" style="font-family: Tahoma; display:inline-block; margin-top: 2px"> 
	<select id="selIsSeek2" data-role="slider" data-mini="true">
		@if (@Model.IsOffer)
  {
        <option value="false">@Resources.Seek</option>
		<option value="true"  selected = "true" >@Resources.Offer</option>
        }
        else {
        <option value="false" selected = "false" >@Resources.Seek</option>
		<option value="true">@Resources.Offer</option>
        }
	</select>
</div>
    @Html.TextBoxFor(model => model.Name, new { id="iptName2", style = "width:45%; display:inline-block; position:absolute; top: 10px"})
    @Html.ValidationMessageFor(model => model.Name)
    <div style="display:inline-block; width: 45%; height: 0px;">
    </div>
    <div style="display: inline-block; position:absolute; top: 0px;">
        <button id="btnSave" data-inline="true" data-ajax="false" data-theme="b" data-icon="check" data-iconpos="notext" ></button>
        <a id="btnCancel" type="button" href="#popupLogin" data-rel="popup" data-inline="true" data-theme="b" data-icon="delete" data-iconpos="notext" ></a>
    </div>
</div>*@

@*---------------------------------*@
@*Popup to update route header data*@
@*---------------------------------*@
<div id="popupRouteHeader" data-role="popup" data-rel="dialog" data-overlay-theme="a" class="ui-corner-all" style="width: 300px;">
    <div data-role="header" class="ui-bar ui-bar-b">
		<h1>@Resources.Route_create_update</h1>
	</div>
    <div data-role="content" class="ui-corner-bottom ui-content">
    <fieldset>
        <select id="selIsSeek" data-role="slider" data-mini="true">
        @if (@Model.IsOffer)
        {
        <option value="false">@Resources.Seek</option>
		<option value="true"  selected = "true" >@Resources.Offer</option>
        }
        else {
        <option value="false" selected = "false" >@Resources.Seek</option>
		<option value="true">@Resources.Offer</option>
        }
    	</select>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { id = "iptName", style = "width: 300px;" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        @Html.HiddenFor(model => model.Id)

        <button value="@Resources.Save" onclick="UpdateRoute($('#hfId').val());" data-inline="true" data-ajax="false"></button>
        </fieldset>
        </div>
</div>
@*Popup to update route header data*@
@*---------------------------------*@

<div id="divMap" style="width:100%;position: absolute; top: 54px; left: 0px; bottom: 0px;" ></div>
<div id="divSave">
    <button id="btnSave2" type="button" data-inline="true" data-ajax="false" data-theme="b" data-icon="check" data-iconpos="notext" ></button>
</div>
<div id="divInfo">
    <a id="btnInfo" type="button" href="#popupRouteHeader" data-rel="popup" data-position-to="window" data-inline="true" data-theme="b" data-icon="info" data-iconpos="notext" ></a>
</div>
<div id="divCancel">
    <button id="btnCancel2" type="button" data-inline="true" data-ajax="false" data-theme="b" data-icon="delete" data-iconpos="notext" ></button>
</div>


    <div id="debug0"></div>
    <div id="debug1"></div>
    <div id="debug2"></div>


<script>
    //Global variables
    var routeWayPoint //an array of WayPoint 0=start, 1=end, next are real way points
    var map //Google map
    var directionsDisplay //display route

    //----------
    //Functions
    //----------

    function InitializeRouteMap() {
        //alert(routeWayPoint.length);

        //If no start point set center map on user's default location
        if ( routeWayPoint.length == 0 ) {
            var milliseconds = new Date().getMilliseconds();
            var mapCenter;
            $.ajax({ 
                'async': false, 'url': '/User/Location/' + @ViewBag.userId + '?' + milliseconds, 'type': 'get', 'dataType': 'text',
                'success': function (data) {
                    var location = data.split('/');
                    //mapCenter = data.Data;
                    mapCenter = new google.maps.LatLng(location[0], location[1]);
                    if( mapCenter.lat() == 0 )
                        mapCenter = new google.maps.LatLng(39.907004, 116.39759); //Center on Beijing Tian An Men
                }
            });
        }

        //else { //useless
        //    mapCenter = new google.maps.LatLng(39.907004, 116.39759); //Center on Beijing Tian An Men
        //}

        var zoomControl = {
            //position: google.maps.ControlPosition.TOP_LEFT,
            style: google.maps.ZoomControlStyle.SMALL
        }
        //Define map properties
        var mapProp = {
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: false,
            streetViewControl: false,
            mapTypeControl: false,
            zoomControlOptions: zoomControl
        };
        //Display the map in the div
        map = new google.maps.Map(document.getElementById("divMap"), mapProp);
        //Expand the size of the div for the map
        //$('#divMap').css("height", "200px");
        //Force map to expand to div
        setTimeout(function () { google.maps.event.trigger(map, 'resize'); map.setCenter(mapCenter); }, 100);

        //Add control to the map - save, data, cancel button
        //var mapButton = document.createElement('customMapControl'); //Create a new control
        var divSave = document.createElement('divSave'); //Create a new control
        var divInfo = document.createElement('divInfo'); //Create a new control
        var divCancel = document.createElement('divCancel'); //Create a new control
        //alert($('#btnSave2').html());
        divSave.innerHTML = $('#divSave').html(); //Use the HTML of the button
        divInfo.innerHTML = $('#divInfo').html(); //Use the HTML of the button
        divCancel.innerHTML = $('#divCancel').html(); //Use the HTML of the button
        //$('#customMapControl').hide(); //Hide the original button
        $('#divSave').hide(); //Hide the original button
        $('#divInfo').hide(); //Hide the original button
        $('#divCancel').hide(); //Hide the original button
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(divCancel);
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(divInfo);
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(divSave);
        //Add event to buttons
        google.maps.event.addDomListener(divSave, 'click', function (event) {
            SaveRoute();
        });
        google.maps.event.addDomListener(divInfo, 'click', function (event) { //Problem we want one event per button
            $( "#popupRouteHeader" ).popup(); //Popup route header data
        });
        google.maps.event.addDomListener(divCancel, 'click', function (event) {
            window.location = "/Route/List/"; //Return to my route
        });
       

        //Display the way points
        for (i = 0; i < routeWayPoint.length; i++) {
            switch (i) {
                case 0: //Start point
                    CreateMarker(new google.maps.LatLng(routeWayPoint[0].Latitude, routeWayPoint[0].Longitude), 1, true, 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=A|6BC54D|000000');
                    break;
                case 1: //End point
                    CreateMarker(new google.maps.LatLng(routeWayPoint[1].Latitude, routeWayPoint[1].Longitude), 2, true, 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=B|6BC54D|000000');
                    break;
                default: //Way points
                    CreateMarker(new google.maps.LatLng(routeWayPoint[i].Latitude, routeWayPoint[i].Longitude), i + 1, true);
            }

        }

        //Create object to display route
        var polyOptions = {
            strokeColor: ("@Model.IsOffer" == "True") ? "#f12b2b" : "#40b723", //Offer=red, Seek=green
            strokeWeight: 5
        }
        var rendererOptions = {
            //preserveViewport: true, //Do not resize map on start/end point
            polylineOptions: polyOptions,
            suppressMarkers: true //Do not display default A, B, C makers
        };
        directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
        directionsDisplay.setMap(map);
        
        //Display the route
        UpdateGoogleRoute();

        //Add map click event
        google.maps.event.addListener(map, 'click', function (event) {
            if (routeWayPoint.length == 0) { //Start point not created yet
                CreateMarker(event.latLng, 1, true, 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=A|6BC54D|000000'); //Create new marker with location clicked
                //routeWayPoint.push({ RouteId: @Model.Id, LineId: 1, Latitude: event.latLng.lat(), Longitude: event.latLng.lng() });
                //$('#hfStartLatitude').val(event.latLng.lat()); //Register start point
                //$('#hfStartLongitude').val(event.latLng.lng());
            }
            else if (routeWayPoint.length == 1) { //End point not created yet
                CreateMarker(event.latLng, 2, true, 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=B|6BC54D|000000'); //Create new marker with location clicked
                //routeWayPoint.push({ RouteId: @Model.Id, LineId: 2, Latitude: event.latLng.lat(), Longitude: event.latLng.lng() });
                //$('#hfEndLatitude').val(event.latLng.lat()); //Register end point
                //$('#hfEndLongitude').val(event.latLng.lng());
                UpdateGoogleRoute();
            }
            else {
                CreateMarker(event.latLng, routeWayPoint.length + 1); //Create new marker with location clicked
                //routeWayPoint.push({ RouteId: @Model.Id, LineId: 2, Latitude: event.latLng.lat(), Longitude: event.latLng.lng() });
                UpdateGoogleRoute();
            }
        });

    } //InitializeRouteMap

function CreateMarker(location, id, draggable, icon) {
    //id(=RouteWayPoint.LineId):1=start, 2=end, 3...=way points
    //optional draggable: default = true
    draggable = typeof draggable !== 'undefined' ? draggable : true;

    var marker = new google.maps.Marker({
        position: location,
        id: id,
        draggable: draggable,
        icon: icon,
        map: map
    });
    if ( routeWayPoint.length >= id )
        routeWayPoint[marker.id - 1].marker = marker; //Keep the marker in the array
    else {
        routeWayPoint.push({ RouteId: $('#hfId').val(), LineId: routeWayPoint.length + 1, Latitude: location.lat(), Longitude: location.lng(), marker: marker });
        }

            //Add marker event to track drag end
        google.maps.event.addListener(marker, 'dragend', function (event) {
            //Update lat/lng in routeWayPoint array
            routeWayPoint[marker.id - 1].Latitude = event.latLng.lat();
            routeWayPoint[marker.id - 1].Longitude = event.latLng.lng();
            UpdateGoogleRoute();
        });
            //Add marker event to track double click: remove marker
        google.maps.event.addListener(marker, 'dblclick', function (event) {
            if ( marker.id > 2 ) { //start/end point cannot be deleted
                marker.setMap(null); //Delete marker
                //Update next markers id
                for (var i= marker.id; i < routeWayPoint.length; i++) {
                    routeWayPoint[i].marker.id -= 1;
                    routeWayPoint[i].LineId -= 1;
                }
                routeWayPoint.splice(marker.id - 1, 1) //Remove marker from way point
                UpdateGoogleRoute();
            }
        });
        //TMP
        //Add maker event to display marker coordinates
        google.maps.event.addListener(marker, "mouseover", function(event) {
            //alert(marker.position.lat().toString() + "/" + marker.position.lng().toString());
            //new google.maps.infoWindow({
            //    map: map,
            //    position: event.latLng,
            //    content: "Hello" //marker.position.lat().toString() + "/" + marker.position.lng().toString()
            //});
            ////infowindow.open(map);
        });
    } //CreateMarker

    //Refresh the route on the map with data in routeWayPoint
    function UpdateGoogleRoute() {

        if (routeWayPoint.length < 2 ) return; //Less than 2 points no route to display

        //Create directionService to request route to Google
        var directionsService = new google.maps.DirectionsService();

        //Initialize waypoint array
        var waypoint;
        var waypoints = [];
        for (i = 2; i < routeWayPoint.length; i++) {
            waypoint = {
                location: new google.maps.LatLng(routeWayPoint[i].Latitude, routeWayPoint[i].Longitude)
               }
            waypoints.push(waypoint);
        }

        //Request the route to google
        var request = {
            origin: new google.maps.LatLng(routeWayPoint[0].Latitude, routeWayPoint[0].Longitude),
            destination: new google.maps.LatLng(routeWayPoint[1].Latitude, routeWayPoint[1].Longitude),
            waypoints: waypoints,
            travelMode: google.maps.DirectionsTravelMode.DRIVING,
            optimizeWaypoints: true
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections({routes: []});
                directionsDisplay.setDirections(response); //Display route
                //alert("Route displayed");

                ////After the route is displayed first time do not allow the map viewport to resize
                rendererOptions = {
                    preserveViewport: true, //Do not resize map on start/end point
                    suppressMarkers: true //Do not display default A, B, C makers
                };
                setTimeout(function () { directionsDisplay.setOptions(rendererOptions); }, 1000);
                
            }
            else alert(status + "/" + response);
        });
    }

    //Synchronous Ajax to get route and way points
    function GetWayPoint() {
        var milliseconds = new Date().getMilliseconds();
        $.ajax({ 
            'async': false, 'url': '/Route/WayPoint/' + $('#hfId').val() + '?' + milliseconds, 'type': 'get', 'dataType': 'json',
            'success': function (data) {
                routeWayPoint = data.Data;
            }
        });
    }

    function CheckResult() {
        for (i = 0; i < routeWayPoint.length; i++) {
            alert(routeWayPoint[i].LineId + ", " + routeWayPoint[i].Latitude);
        }
    }

    function RouteToPost() {
        var routeToPost = [];
        for ( i=0; i<routeWayPoint.length; i++) {
            routeToPost.push({ LineId: routeWayPoint[i].LineId, Latitude: routeWayPoint[i].Latitude, Longitude: routeWayPoint[i].Longitude })
        }
        for ( i=0; i<routeWayPoint.length; i++) {
            routeWayPoint[i].marker = null;
        }
        return routeToPost;
    }

    //Check if route name is set, if not open popup to set route name
    //return false = not set
    //return true = set
    function RouteNameSet() {
        if( $('#iptName').val().length == 0 ) {
            $("#popupRouteHeader").popup( "open");
            return false;
        }
        else return true;
    }

    function SaveRoute() {
        if ( RouteNameSet() ) {
            //Post route name - because we can leave popup without saving
            //To avoid useless double save we could identify that save was done
            var routeId = $('#hfId').val();
            UpdateRoute(routeId);
            for ( i=0; i<routeWayPoint.length; i++) {
                delete routeWayPoint[i].marker;
            }
            var routeToPost = JSON.stringify(routeWayPoint); //JSON.stringify(RouteToPost());
            $.ajax({ 
                url: '/Route/CreateUpdate/', 'type': 'post',
                data: routeToPost,
                contentType: 'application/json; charset=utf-8',
                success: function (routeId, textStatus, jqXHR) {
                    window.location = "/Route/List/";
                },
                error: function (jqXHR, data) {
                    alert("Error saving data");
                    //window.location = data;
                }
            });
        }
    }

    //Need to get new id for new route here - now this is not the case
    function UpdateRoute(routeId) {
        $( "#popupRouteHeader" ).popup( "close" ); //Close popup
        var j = $('#iptName').val(); //Get data from popup form
        var i = $('#selIsSeek').val();
        $.ajax({ //Save route data
            url: '/Route/Update/', type: 'post',
            data: { Id: routeId, IsOffer: $('#selIsSeek').val(), Name: $('#iptName').val()},
            async: false,
            success: function (routeId, textStatus, jqXHR) {
                $('#hfId').val(routeId); //Save new route id
                if ( @Model.Id == 0 ) { //New route update routeId routeWayPoint
                    for ( i=0; i<routeWayPoint.length; i++) {
                        routeWayPoint[i].RouteId = routeId;
                    }
                }
            }
        });
    }

    jQuery(document).ready(function () {
        //alert("Ready");
        GetWayPoint(); //Synchronous AJAX to get waypoint necessary to draw map
        InitializeRouteMap();

        //Useless if we move to UI dialog
        $("#btnSave").click(function() {
            SaveRoute();
            alert("Here");
            for ( i=0; i<routeWayPoint.length; i++) {
                delete routeWayPoint[i].marker;
            }
            var routeToPost = JSON.stringify(routeWayPoint); //JSON.stringify(RouteToPost());
            $.ajax({ 
                url: '/Route/CreateUpdate/', 'type': 'post',
                data: routeToPost,
                //dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (routeId, textStatus, jqXHR) {
                    UpdateRoute(routeId); //Update route header data
                    window.location = "/Route/List/";
                },
                error: function (jqXHR, data) {
                    window.location = data;
                }
                //statusCode: {
                //    302: function(jqXHR) {
                //        test(jqXHR);
                //        // your code
                //    }
                //}
            });
        });


        @*        $("#btnCancel").click(function() {
            OpenPopup();
            $("#popupRouteHeader").popup();
            //window.location = "/Route/List"; //Mobile?userId=" + @Model.UserId;
        });*@

    });

</script>
