@model Commute.Models.Route

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Route</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsOffer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOffer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartLatitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartLatitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartLongitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartLongitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndLatitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndLatitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndLongitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndLongitude)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
