@model IEnumerable<Commute.Models.Route>
@using Commute.Properties

@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}

<div class="ui-grid-a"> @*3-columns*@
    <div class="ui-block-a"></div>
    <div class="ui-block-b">
        <a href="/Route/CreateUpdate/" id="btnRouteAdd" data-role="button" data-mini="true" data-ajax="false" data-theme="b" data-inline="true" >@Resources.Route_new</a>
    </div>
@foreach (var item in Model) {
	<div class="ui-block-a"><strong>@item.Id</strong> @item.Name</div>
    @*<div class="ui-block-b"><a href="#popupMap" data-rel="popup" data-position-to="window" data-role="button" data-theme="b" data-inline="true">Open Map</a></div>*@
	<div class="ui-block-b">
        @if (@item.IsOffer) { @Resources.Offer } else { @Resources.Seek }
        <a href="/Route/CreateUpdate/@item.Id" data-role="button" data-mini="true" data-ajax="false" data-theme="b" data-inline="true">@Resources.Map</a>
        <a href="/Route/Search/@item.Id" data-role="button" data-mini="true" data-ajax="false" data-theme="b" data-inline="true">@Resources.Search</a>
	</div>
}
    </div><!-- /grid-a -->
