@model IEnumerable<Commute.Models.Route>
@using Commute.Properties

@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
    ViewBag.Title = @Resources.Welcome;
    ViewBag.Metadesc = Resources.Metadesc_route_list;
}

<div class="ui-grid-a"> @*3-columns*@
    <div class="ui-block-a"></div>
    <div class="ui-block-b">
        <a href="/Route/CreateUpdate/" id="btnRouteAdd" data-role="button" data-mini="true" data-ajax="false" data-theme="b" data-inline="true" >@Resources.Route_new</a>
    </div>
@foreach (var item in Model) {
        <div class="ui-block-a">
            @if (item.IsOffer) {
            <a href="/Route/CreateUpdate/@item.Id" data-ajax="false" data-role="button" class = "offer">@item.Id - @item.Name</a> }
                                                                                                                                                    else {
                            <a href="/Route/CreateUpdate/@item.Id" data-ajax="false" data-role="button" class = "seek">@item.Id - @item.Name</a> }
 @*@if (item.IsOffer) { @:(style = "background-color: #40b723;"); } else { @:("style = "background-color: #f12b2b;"); }*@
        </div>
        <div class="ui-block-b">
            @*<div data-role="controlgroup"  data-type="horizontal">*@
            <a href="/Route/Search/@item.Id" data-ajax="false" data-role="button" data-icon="search" data-theme="b" data-inline="true">&nbsp;</a>
            @*</div>*@
        </div>

}
    </div><!-- /grid-a -->
