@model IEnumerable<Commute.Models.Route>
@using Commute.Properties

@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}

@* Button Open Map *@
<div class="ui-grid-b"> @*3-columns*@
    <div class="ui-block-a">@Resources.Route_id</div>
    <div class="ui-block-b"></div>
    <div class="ui-block-c"></div>
@foreach (var item in Model) {
	<div class="ui-block-a"><strong>@item.Id</strong> @item.Name</div>
    @*<div class="ui-block-b"><a href="#popupMap" data-rel="popup" data-position-to="window" data-role="button" data-theme="b" data-inline="true">Open Map</a></div>*@
	<div class="ui-block-b"><a href="/Route/CreateUpdateMobile/@item.Id" data-role="button" data-mini="true" data-ajax="false" data-theme="b" data-inline="true">@Resources.Map</a></div>
	<div class="ui-block-b"><a href="/Route/Search/@item.Id" data-role="button" data-mini="true" data-theme="b" data-inline="true">@Resources.Search</a></div>
}
    </div><!-- /grid-a -->
