@model IEnumerable<Commute.Models.RouteSearch>
@using Commute.Properties

@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
<p>You can use this screen to find the route proposed by other users. Use this <a href="/Route/SetRoute/" data-role="button" data-mini="true" data-inline="true" data-ajax="false">@Resources.Map</a> button to define the route you search.</p>

<div class="ui-grid-a"> @*2-columns*@
@foreach (var item in Model) {
        <div class="ui-block-a">
            @if (item.IsOffer) {
            <a href="/Route/View/@item.Id?routeId=@ViewBag.routeId&isOffer=@ViewBag.isOffer" data-ajax="false" data-role="button" data-theme="b" class = "offer">@item.Id - @item.Name</a> }
                                                                                                                                                    else {
            <a href="/Route/View/@item.Id?routeId=@ViewBag.routeId&isOffer=@ViewBag.isOffer" data-ajax="false" data-role="button" data-theme="b" class = "seek">@item.Id - @item.Name</a> }
        </div>
    <div class="ui-block-b like-button">
        @Html.DisplayFor(modelItem => item.StartDistance) / @Html.DisplayFor(modelItem => item.EndDistance)
    </div>
}
    </div><!-- /grid-a -->
