@model IEnumerable<Commute.Models.RouteSearch>
@using Commute.Properties

@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
<p>You can use this screen to find the route proposed by other users. Use this <a href="/Route/SetRoute/" data-role="button" data-mini="true" data-inline="true" data-ajax="false">@Resources.Map</a> button to define the route you search.</p>

@foreach (var item in Model) {
<div>
    <div id="divRouteButton" class="inline">
        @if (item.IsOffer) {
        <a href="/Route/View/@item.Id?routeId=@ViewBag.routeId&isOffer=@ViewBag.isOffer" data-ajax="false" data-role="button" data-theme="b" data-inline="true" class = "offer">@item.Id - @item.Name</a> }
      else {
        <a href="/Route/View/@item.Id?routeId=@ViewBag.routeId&isOffer=@ViewBag.isOffer" data-ajax="false" data-role="button" data-theme="b" data-inline="true" class = "seek">@item.Id - @item.Name</a> }
    </div>
    <div class="like-button">
        <div>@Html.DisplayFor(modelItem => item.StartDistance)</div>
        <div>@Html.DisplayFor(modelItem => item.EndDistance)</div>
    </div>
</div>    
}

<script>
    jQuery(document).ready(function () {
        //Remove the padding to save space on screen
        $(".ui-content").css("padding", "2px");
        //Almost no padding for route button (more space for route name)
        $('#divRouteButton .ui-btn-inner').css("padding-left", "2px");
        $('#divRouteButton .ui-btn-inner').css("padding-right", "2px");
        //Reduce font size for route button, allow text to wrap
        $('#divRouteButton .ui-btn-text').css("font-size", "0.7em");
        $('#divRouteButton .ui-btn-text').css("white-space", "normal");
        //Add padding to the search button
        $('#divSearchButton .ui-btn').css("padding", "5px");
    });
</script>
