@using Commute.Properties

@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
    ViewBag.Title = @Resources.Welcome;
    ViewBag.Metadesc = Resources.Metadesc_home_welcome;
}

@Html.Raw( @Resources.Welcome_message.Replace("Commute", "<b>Commute</b>") )
<br>
@Html.Raw( @Resources.Welcome_join.Replace("Commute", "<b>Commute</b>") )
<a href="/User/Register" data-role="button" data-ajax="false" data-inline="true" data-mini="true">@Resources.Register</a>
<br>
@Html.Raw( @Resources.Welcome_help.Replace("Commute", "<b>Commute</b>") )
<a href="/Help/Help?helpFile=Commute documentation.html" data-role="button" data-ajax="false" data-inline="true" data-mini="true">@Resources.Help</a>
<br>
@Html.Raw( @Resources.Welcome_view_route.Replace("\r\n", "<br>") )
<a href="/Route/SearchAll" data-role="button" data-ajax="false" data-inline="true" data-mini="true">@Resources.Route_search</a>